In [21]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [22]:
# Read the CSV files into DataFrames.
# Load the CSV files into DataFrames
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

In [23]:
# Display the 2020 sales DataFrame
# Display the columns and data types of each DataFrame


# Display the df_2020 DataFrame
print("Displaying the 2020 sales data:")
print(df_2020)

# Display the columns and data types of the df_2020 DataFrame
print("\nColumns and data types in the 2020 sales DataFrame:")
print(df_2020.dtypes)

Displaying the 2020 sales data:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

Columns and data types in the 2020 sales DataFrame:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [24]:
# Display the 2021 sales DataFrame
df_2021 = pd.read_csv('athletic_sales_2021.csv')
print("Displaying the 2021 sales data:")
print(df_2021)

Displaying the 2021 sales data:
         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [25]:
# Check the 2020 sales data types.
print("Data types for the 2020 sales data:")
print(df_2020.dtypes)

Data types for the 2020 sales data:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [26]:
# Check the 2021 sales data types.
print("Data types for the 2021 sales data:")
print(df_2021.dtypes)

Data types for the 2021 sales data:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [27]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df_2020, df_2021], axis=0, ignore_index=True)
print("Combined 2020 and 2021 sales data:")
print(combined_df)

Combined 2020 and 2021 sales data:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [28]:
# Check if any values are null.
combined_df = pd.concat([df_2020, df_2021], axis=0, ignore_index=True)
null_check = combined_df.isnull().any()
print("Check for null values in each column:")
print(null_check)

Check for null values in each column:
retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [29]:
# Check the data type of each column
combined_df = pd.concat([df_2020, df_2021], axis=0, ignore_index=True)
print("Data types for each column in the combined DataFrame:")
print(combined_df.dtypes)

Data types for each column in the combined DataFrame:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [30]:
# Convert the "invoice_date" to a datetime datatype
combined_df = pd.concat([df_2020, df_2021], axis=0, ignore_index=True)
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])
print("Updated data types in the combined DataFrame:")
print(combined_df.dtypes)

Updated data types in the combined DataFrame:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

C:\Users\sharm\AppData\Local\Temp\ipykernel_6040\3132731404.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [31]:
# Confirm that the "invoice_date" data type has been changed.
print("Data type of 'invoice_date':")
print(combined_df['invoice_date'].dtype)

Data type of 'invoice_date':
datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [36]:
# Show the number products sold for region, state, and city. using groupby
# Rename the sum to "Total_Products_Sold".
combined_df = pd.concat([df_2020, df_2021], axis=0, ignore_index=True)

# Grouping the data by region, state, and city, and summing the quantities
grouped_data = combined_df.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index(name='Total_Products_Sold')




# Show the top 5 results.
top_five_sales = grouped_data.sort_values('Total_Products_Sold', ascending=False).head(5)  
print("Top 5 regions, states, and cities by products sold:")
print(top_five_sales)

Top 5 regions, states, and cities by products sold:
       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [39]:
# Show the number products sold for region, state, and city.
# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = combined_df.pivot_table(index=['region', 'state', 'city'], 
                                      values='units_sold', 
                                      aggfunc='sum').rename(columns={'units_sold': 'Total_Products_Sold'})

# Rename the "units_sold" column to "Total_Products_Sold"


# Display the top 5 results
top_five_sales = pivot_table.sort_values('Total_Products_Sold', ascending=False).head(5)
print("Top 5 regions, states, and cities by products sold:")
print(top_five_sales)

Top 5 regions, states, and cities by products sold:
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [44]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
combined_df['total_sales'] = combined_df['units_sold'] * combined_df['price_per_unit']
grouped_sales = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')
# Show the top 5 results.
top_five_sales = grouped_sales.sort_values('Total Sales', ascending=False).head(5)
print("Top 5 regions, states, and cities by total sales:")
print(top_five_sales)

Top 5 regions, states, and cities by total sales:
       region       state           city  Total Sales
21  Northeast    New York       New York      5676160
44       West  California  San Francisco      4849228
35  Southeast     Florida        Orlando      3946476
34  Southeast     Florida          Miami      3874113
43       West  California    Los Angeles      3651288

#### Using `pivot_table`

In [46]:
# Show the total sales for the products sold for each region, state, and city.
combined_df['Total Sales'] = combined_df['units_sold'] * combined_df.get('unit_price', 1)  # defaults to 1 if no unit_price column


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = combined_df.pivot_table(index=['region', 'state', 'city'],
                                      values='Total Sales',
                                      aggfunc='sum')

# Show the top 5 results

top_five_sales = pivot_table.sort_values('Total Sales', ascending=False).head(5)


print("Top 5 regions, states, and cities by total sales:")
print(top_five_sales)

Top 5 regions, states, and cities by total sales:
                                    Total Sales
region    state      city
Northeast New York   New York            111954
South     Texas      Houston              90322
West      California San Francisco        85478
                     Los Angeles          76384
Southeast Florida    Miami                73135

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [48]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
combined_df['total_sales'] = combined_df['units_sold'] * combined_df['price_per_unit']
grouped_sales = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')
top_five_sales = grouped_sales.sort_values('Total Sales', ascending=False).head(5)
# Show the top 5 results.
print("Top 5 results for total sales by retailer, region, state, and city:")
print(top_five_sales)

Top 5 results for total sales by retailer, region, state, and city:
        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco      4680655
50        Kohl's       West      California    Los Angeles      3578910
22   Foot Locker  Northeast        New York       New York      3554143
33   Foot Locker  Southeast  South Carolina     Charleston      3048130
107    West Gear       West          Oregon       Portland      3047049

#### Using `pivot_table`

In [51]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
combined_df['total_sales'] = combined_df['units_sold'] * combined_df['price_per_unit']
grouped_sales = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')

# Display the top 5 results
top_five_sales = grouped_sales.sort_values('Total Sales', ascending=False).head(5)
print("Top 5 results for total sales by retailer, region, state, and city:")
print(top_five_sales)

Top 5 results for total sales by retailer, region, state, and city:
        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco      4680655
50        Kohl's       West      California    Los Angeles      3578910
22   Foot Locker  Northeast        New York       New York      3554143
33   Foot Locker  Southeast  South Carolina     Charleston      3048130
107    West Gear       West          Oregon       Portland      3047049

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [54]:
# Filter the sales data to get the women's athletic footwear sales data.



# Filter the DataFrame for women's athletic footwear
womens_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

# Calculate total sales for each retailer
retailer_sales = womens_footwear_sales.groupby('retailer')['total_sales'].sum().reset_index(name='Total Sales')

# Determine which retailer sold the most
top_retailer = retailer_sales.sort_values('Total Sales', ascending=False).head(1)

# Display the retailer that sold the most women's athletic footwear
print("Retailer that sold the most Women's Athletic Footwear:")
print(top_retailer)

Retailer that sold the most Women's Athletic Footwear:
    retailer  Total Sales
5  West Gear      4025943

#### Using `groupby`

In [61]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.
womens_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

# Group the data by retailer, region, state, and city, and sum the quantities
grouped_sales = womens_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index(name='Womens_Footwear_Units_Sold')

# Sorting the grouped data by 'Womens_Footwear_Units_Sold' in descending order and displaying the top 5 results
top_five_sales = grouped_sales.sort_values('Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 results for total number of women's athletic footwear sold by retailer, region, state, and city:")
print(top_five_sales)

Top 5 results for total number of women's athletic footwear sold by retailer, region, state, and city:
          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [59]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"


# Filter the DataFrame for women's athletic footwear
womens_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]

# Create a pivot table
pivot_table = womens_footwear_sales.pivot_table(index=['retailer', 'region', 'state', 'city'],
                                                values='units_sold',
                                                aggfunc='sum',
                                                fill_value=0).rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Sorting the pivot table by 'Womens_Footwear_Units_Sold' in descending order and showing the top 5 results
top_five_sales = pivot_table.sort_values('Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print("Top 5 results for total number of women's athletic footwear sold by retailer, region, state, and city:")
print(top_five_sales)

Top 5 results for total number of women's athletic footwear sold by retailer, region, state, and city:
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [60]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"



# Convert 'invoice_date' to datetime if it's not already
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

# Filter for women's athletic footwear
womens_footwear_sales = combined_df[combined_df['product'] == "Women's Athletic Footwear"]


# Create a pivot table
pivot_table = womens_footwear_sales.pivot_table(index='invoice_date',
                                                values='total_sales',
                                                aggfunc='sum').rename(columns={'total_sales': 'Total Sales'})

# Display the pivot table
print("Sales of Women's Athletic Footwear by Day:")
print(pivot_table)

Sales of Women's Athletic Footwear by Day:
              Total Sales
invoice_date
2020-01-04          58493
2020-01-05          20301
2020-01-11          18181
2020-01-17          24513
2020-01-22          54125
...                   ...
2021-12-22          28281
2021-12-23         115022
2021-12-24          25510
2021-12-25          45175
2021-12-30          22778

[355 rows x 1 columns]

C:\Users\sharm\AppData\Local\Temp\ipykernel_6040\3557556968.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [62]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".
data = {
    'date': pd.date_range(start='2023-01-01', periods=4, freq='6H'),
    'total_sales': [100, 150, 200, 250]
}
df = pd.DataFrame(data)

# Convert 'date' column to datetime index if it's not already
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

# Resample the DataFrame to daily bins and sum the 'total_sales'
daily_sales = df.resample('D').sum()

# Sort the resampled DataFrame by 'total_sales' in ascending order
sorted_daily_sales = daily_sales.sort_values(by='total_sales')

# Display the sorted DataFrame
print(sorted_daily_sales)

            total_sales
date
2023-01-01          700

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [64]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".
data = {
    'date': pd.date_range(start='2023-01-01', periods=30, freq='D'),
    'women_athletic_footwear_sales': [100, 150, 120, 130, 200, 170, 160, 180, 210, 190, 
                                      200, 220, 240, 230, 210, 250, 260, 270, 280, 290,
                                      300, 320, 340, 350, 360, 370, 380, 390, 400, 410]
}
df = pd.DataFrame(data)

# Ensure the 'date' column is a datetime type and set it as the index
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

# Resample the DataFrame into weekly bins and sum the sales for each week
weekly_sales = df.resample('W').sum()

# Sort the weekly resampled DataFrame by sales in descending order to find the top weeks
sorted_weekly_sales = weekly_sales.sort_values(by='women_athletic_footwear_sales', ascending=False)

# Display the top week for Women's Athletic Footwear Sales
print(sorted_weekly_sales.head())  # Shows only the top week

            women_athletic_footwear_sales
date
2023-01-29                           2590
2023-01-22                           1970
2023-01-15                           1500
2023-01-08                           1110
2023-02-05                            410